<div class="form-background">
  <div class="form-card">
    <div class="header-title">
      LOGOWANIE
    </div>
    <div class="group-input auth-form margin-top">
      <div class="field">
        <div class="control">
          <input type="text" class="input-text" placeholder=" " autocomplete="off">
          <label>Email</label>
        </div>
      </div>
    </div>

    <div class="group-input auth-form">
      <div class="field">
        <div class="control">
          <input type="password" class="input-text" placeholder=" " autocomplete="off">
          <label>Hasło</label>
        </div>
      </div>
    </div>

    <div class="row auth-form">
      <input type="checkbox">
      <span class="remember-me ml-1">zapamiętaj mnie</span>
      <span class="forgot-password">zapomniałeś hasła?</span>
    </div>
    
    <div class="row button-group">
      <input type="button" class="button-second btn-mf" value="rejestracja">
      <input type="button" class="button-first btn-mf" value="zaloguj">
    </div>
    
  </div>
</div>