.container-mf {
    margin-left: 1em;
    margin-right: 1em;
    min-height: 5em;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.container-mf {
    -webkit-box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 4px 5px   rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
}

.header-mf {
    font-weight: 700;
    font-size: 1em;
    margin-top: 0.6em;
}

.saldo-mf {
    position: relative;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 4px 5px   rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
}

.saldo-desc {
    margin-top:  .4em;
    margin-left: .4em;
    font-size: .9em;
}
.saldo-value {
    margin-left: .4em;
    margin-bottom: 1em;
    bottom: 1em;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.saldo {
    background: #0B99EB;

}

.intent-target {
    background: #BF00CF;
}

.avail-res {
    background: #FFA215;
}

.danger-mf {
    background: #CF0E0E;
}

.success-mf {
    background: #2CB973;
}

.section-mf {
    -webkit-box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 4px 5px   rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    min-height: 30em;
    width: 100% !important;
}
.header-tekst {
    color: #CF0E0E;
    padding-left: 0.5em;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

.open-modal {
    position: absolute;
    width: 3em;
    height: 3em;
    right: 0;
    border-radius: 50%;
    top: -1em;
    z-index: 800;
}
.plus {
    position: relative;
    top: -0.3em;
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
}

.button-green {
    background-color: #2CB973;
    border: none;
}
.button-red {
    background-color: #CF0E0E;
    border: none;
}

.text-success {
    color: #2CB973 !important;
}

.text-danger {
    color: #CF0E0E !important;
}

.row-price {
    padding: 0.3em;
    border-bottom: 1px solid slategrey;
    margin-bottom: 0.3em;
}

.row-price:last-child {
    border-bottom: 0em;
}

.name-operation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.price-operation {
    right: 6em;
    text-align: end;
    font-weight: 700;
}

.noPadding {
    padding: 0!important; 
    margin: 0 !important;
}
.right-col {
    left: 1em;
}



// start modal
$primary: slategrey;
$secondary: rgb(80, 80, 81);
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 10px 0 0;
  margin-top: 1em;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 0.9rem;
  padding: 6px 0;
  text-align: center;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 2px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

option {
    text-align: center !important;
    text-align-last:center !important;
}

select {
    text-align: center !important;
    text-align-last:center;
}


.number-operation {
    color: white;
    font-weight: 700;
}

.mf-item {
    margin: 10px 0;
    padding: 10px 0 10px;
    border-bottom: 1px solid #f1f1f1;
  }
  .mf-item:last-child {
    border-bottom: 0;

  }
  .mf-container,
  .mf-post-container {
    padding: 10px !important;
  }
  .mf-item small {
    color: #999;
  }
  .mf-item .mf-sub-title {
    color: #999;
    margin-left: 50px;
  }
  .mf-title {
    margin: 10px 0 10px 0;
  }
  .mf-info {
    text-align: center;
  }
  .mf-desc {
    color: #999;
  }
  .mf-number {
    float: left;
    width: 50px;
    margin-right: 20px;
    text-align: center;
  }
  span.mf-item-title {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: 600;
  }
  span.mf-item-title:hover {
    color: inherit;
  }
  .mf-number {
    font-size: 16px;
    color: #9b9b9b;
  }
  .mf-item.active  {
    color: #1ab394;
  }

  
  .mf-item .mf-sub-date {
    color: #999;
    font-size: 12px;
    margin-left: 0px;
  }

  .btn-left {
    left: 2em !important;
    position: absolute;
  }
  .btn-right {
    right: 1em !important;
    position: relative;
  }

  .summaryContent {
    height: 400px;
  }

  .summaryHeader {
    position: relative;
    min-height: 100px;
    top: 70px;
  }

  .summaryTextHeader {
    font-weight: 500;
    font-size: 30px;
    padding: 30px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
  }

  .summaryTextDesc {
    color: #fff;
    font-size: 15px !important;
    margin-left: 0px;
  }