.nav-title {
    font-weight: 700;
}

.navbar-light .navbar-brand {
    color: #479d88 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #479d88 !important;
}

.navbar {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.btn:focus ~ .btn::before {
    box-shadow:none !important;
}