<div class="form-background">
  <div class="form-card">
    <div class="header-title">
      REJESTRACJA
    </div>
    <form autocomplete="off">
    <div class="group-input auth-form margin-top">
      <div class="field">
        <div class="control">
          <input type="text"  #userEmail name="userEmail" class="input-text" placeholder=" " autocomplete="false" />
          <label>Email</label>
        </div>
      </div>
    </div>

    <div class="group-input auth-form">
      <div class="field">
        <div class="control">
          <input type="password" class="input-text" placeholder=" " autocomplete="new-password"/>
          <label>Hasło</label>
        </div>
      </div>
    </div>

    
    <div class="group-input auth-form">
      <div class="field">
        <div class="control">
          <input type="password" class="input-text" placeholder=" "  autocomplete="off">
          <label>Powtórz hasło</label>
        </div>
      </div>
    </div>
    
    <div class="row button-group">
      <input type="button" class="button-second btn-mf" value="logowanie">
      <input type="button" class="button-first btn-mf" value="zarejestruj">
    </div>
  </form>
  </div>
</div>