<div class="container-fluid mt-5">
  <div class="row container-mf">
    <div class="container-fluid">
      
    <div class="row col-md-12 header-mf">
      KONTA
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="saldo-mf"></div>
        a</div>
      <div class="col-md-4">
        <div class="saldo-mf">
          <div class="row">cacsasc</div>
          <div class="row">cacsasc</div>
        </div></div>
      <div class="col-md-4">
        <div class="saldo-mf"></div>c</div>
  </div>
    </div>
  </div>
  
  
</div>