.container-mf {
    margin-left: 1em;
    margin-right: 1em;
    min-height: 5em;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.container-mf {
    -webkit-box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 4px 5px   rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
}

.header-mf {
    font-weight: 700;
    font-size: 1em;
    margin-top: 5px;
}

.saldo-mf {
    position: relative;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 4px 5px   rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
}

.saldo-desc {
    margin-top:  .4em;
    margin-left: .4em;
    font-size: .9em;
}
.saldo-value {
    margin-left: .4em;
    margin-bottom: 1em;
    bottom: 1em;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.saldo {
    background: #0B99EB;

}

.intent-target {
    background: #BF00CF;
}

.avail-res {
    background: #FFA215;
}

.danger-mf {
    background: #CF0E0E;
}

.success-mf {
    background: #2CB973;
}

.section-mf {
    -webkit-box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 4px 5px   rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 5px   rgba(0, 0, 0, 0.3);
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    min-height: 5em;
    width: 100% !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
}