<div class="container mt-5">
  <div class="row container-mf">
    <div class="container-fluid">

      <div class="row col-md-12 header-mf">
        KONTA
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="saldo-mf saldo">
            <div class="saldo-desc">Saldo</div>
            <div class="saldo-value">PLN 100000</div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="saldo-mf intent-target">
            <div class="saldo-desc">Środki przeznaczone na Cele</div>
            <div class="saldo-value">PLN 100000</div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="saldo-mf avail-res">
            <div class="saldo-desc">Dostępne środki</div>
            <div class="saldo-value">PLN 100000</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row container-mf">
    <div class="container-fluid">

      <div class="row col-md-12 header-mf">
        PODSUMOWANIE: LISTOPAD
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="saldo-mf saldo">
            <div class="saldo-desc">Budżet miesięczny</div>
            <div class="saldo-value">PLN 100000</div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="saldo-mf intent-target">
            <div class="saldo-desc">Wydano</div>
            <div class="saldo-value">PLN 100000</div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="saldo-mf avail-res">
            <div class="saldo-desc">Pozostało do wydania</div>
            <div class="saldo-value">PLN 100000</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>